body{
    background:  #042F06;
    color: white;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;

}
header{
    top: 0;
    height: 2rem;
    padding-bottom: 50px;
}
nav{
    display: flex;
    padding-right: 2rem;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    gap: 100px;
}
ul{
    display: flex;
    list-style: none;
    gap: 100px;

}
.arena-logo{
     font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.arena-logo span{
    color: #3CFC46;
}
.nav-connection{
  width: 8rem;
  height: 3rem;
  border-radius: 50px;
  background: #3CFC46;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.nav-line{
  height: 0.5rem;
  width: 100%;
  background: #3CFC46;
  border: none;
}
.Actualites-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 335px;
    left: 0px;
    right: 0px;
    top: 134px;
background: #042F06;
}
.Actualites-a{
    width: 147.5px;
    height: 196.66px;
    background: #221B32;
}
.Actualites-body{
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
}
.Actualites-bar{
width: 100%;
height: 77px;
left: 0px;
background: #011502;
}
.Actualites-nav-bar{    
height: 24px;
display: flex;
justify-content: space-around;
align-items: center;
}
.Actualites-nav-a{
width: 150px;
height: 24px;
left: 334px;
top: 491px;
margin-top: 30px;
font-family: 'Krona One';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 30px;
color: #FFFFFF;
text-decoration-line: none;
}

/* .Actualite-section-1 {
    background-color: #042F06;
    width: 95%;
    margin-left: 3%;
    height: 50rem;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-between;
    
    
}
.Actualite-section-img , .c{
    background-image: url(/assets/act/Actualites9.png);
    width: 100%;
    height: 60%;
    background-repeat: no-repeat;
   
}
.Actualite-section-img1{
   background-image: url(/assets/act/Actualites10.png);
    width: 100%;
    height: 57%;
    background-repeat: no-repeat; 

}
.Actualite-section{
    background-color: #042F06;
  
}

.Actualite-section-text{
background-color: #3B3B3B;
height: 180px;

}

.paragraph {
    padding-top: 50%;
    font-size: 20px;
}


.Actualite-section-button {
    width: 20%;
    height: 35px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: #3CFC46;
    color:#FFFFFF;
    border: none;
    font-size: 20px;
}

.Actualite-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
    
}

.Actualite-section2-div{
    
    
   
}
.Actualite-section-20{
    background: #3B3B3B;
    height: 300px;
    width: 100%;
    border-radius: 20px;

}

.img {
    width: 17%;
    
} */
 /* hero section style start */
 .Actualite-section
 {
    width: 80%;
    height: 600px;
    margin: auto;
    
 }
 .Actualite-section-1{
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:  #042F06;
 }

 .Actualite-section-2
 {
    transition: all 0.3s ease;
    display: flex;
    background: #3f413f;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 19px;
    border-radius: 19px;
    flex-direction: column;
    overflow: hidden;
 }
 .Actualite-section-img{
    width: 100%;
    height: 190%;
    background: url(/assets/act/Actualites9.png);
    display: flex;justify-content: start;
    align-items: end;
    

 }
 .Actualite-section-img1{
    width: 100%;
    height: 190%;
    background: url(/assets/act/Actualites10.png);

    background-size: cover;
    background-repeat: no-repeat;
    display: flex;justify-content: start;
    align-items: end;
    
 }

 .Actualite-section-text{
    padding: 40px;
    font-size: medium;
 }
 .Actualite-section-2:hover{
    transform: scale(1.05);
 }
 .Actualite-container{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
 }
 .Actualite-section-button{
    background: #3CFC46;
    padding: 20px;
    border-radius: 20px;
    color: white;
    border: none;
    font-size: 20px;
    

 }
 .Actualite-section-blog{
    background: #042F06;
    height: 350px;
    margin: auto;
    width: 80%;
    overflow: hidden;
    
}
.Actualite-section-20{
    transition: all 0.3s ease;
    display: flex;
    background: #3f413f;

    align-items: center;
    height: 300px;
    margin: 50px;
    border-radius: 19px;
    overflow: hidden;
 }
 .Actualite-section-20 img{
    width: 200px;
    height: 300px;
    border-radius: 15px;
 }


 /* hero section style end */
 .Actualite-section2-div{
    display: flex;
    justify-content: space-between;
    
 }

 .Actualite-container-15{
    display: flex;
    justify-self: end;
    justify-content:space-between;
    padding: 15px;
    
 }
 .Actualite-container-glog2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 .Actualite-container-glog2 h3{
    color:#101214 ;
    padding: 15px;
 }
 .date{
    color: #000000;
   
}
